{% extends 'customer/customer-userpanal.html' %}
{% load static %}

{% block title %}Food Belly | Feedback {% endblock title %}

   
{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer-feedback.css' %}">
{% endblock css %}

{% block body %}
<form action="" method="POST" id="customer__edit">
    {% csrf_token %}
    <div class="form__container">
        <h2 class="review__heading">Send Feedback</h2>
        <div class="input__block">
                <h3>Rating :</h3>
                <div class="rating__box">
                    <div class="rating_input">
                        <label class="dec_btn">-</label> 
                        <input class="input__typ__range" name="rating" type="range" min="1" max="5" value="1">
                        <label class="inc_btn">+</label>
                    </div>
                    <div class="review__rating">
                        <p><span><i class="fas fa-star rating__star"></i></span><span class="rating-count">1</span></p>
                    </div>
                </div>
            </div>
    
            <div class="input__block">
               <h3>Message :</h3>
               
               <div class="textarea__container">
                   <textarea class="review__textarea" name="content" cols="30" rows="7" placeholder="Enter some text"></textarea>
               </div>
            </div>
    
            <div class="send__review__button">
                <button type="submit">Send Your Message</button>
            </div>
            
        </div>

    </div>
</form>
{% endblock body %}

{% block js %}
    <script src="{% static 'js/customer-feedback.js' %}"></script>
    <script>
        const rating_input = document.querySelector('.input__typ__range');
        const inc_btn = document.querySelector('.inc_btn');
        const dec_btn = document.querySelector('.dec_btn');
        const value_label = document.querySelector('.rating-count');

        inc_btn.addEventListener('click',() =>
        {
            rating_input.value = parseInt(rating_input.value) + 1;
            value_label.textContent = rating_input.value;
            
        })
        
        rating_input.addEventListener('change',() =>
        {
            value_label.textContent = rating_input.value;

        })
        
        dec_btn.addEventListener('click',() =>
        {
            rating_input.value = rating_input.value - 1;
            value_label.textContent = rating_input.value;
        })
        

    </script>
{% endblock js %}

