{% extends 'customer/customer-userpanal.html' %}
{% load static %}
    
{% block title %}
 Food Belly | Customer History
{% endblock title %}
    
{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer-history.css' %}">
{% endblock css %}

{% block body %}
<section id="mess__details___box">

    <div class="section__title">
        <h2>History</h2>
    </div>

   <div class="customer__hostory__wrapper">
    <div class="wrapper">
        {% if bookings %}
            {% for booking in bookings %}
                <div class="card">
                        <div class="left">
                            <div class="img__container">
                                <img src="{{booking.mess.mess_image1.url}}">
                            </div>
                        </div>
        
                        <div class="right">
                                <header>
                                    <div>
                                        <div class="mess__name">
                                            <h2>{{booking.mess.name}}</h2>
                                        </div>
                                    </div>
        
                                    <div class="rating">
                                        <div class="wrapper">
                                            <div class="stars">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
        
                                            <div class="rating__in__no">
                                                <p>{{booking.mess.rating}}</p>
                                            </div>
                                        </div>
                                    </div>
                            </header>
        
        
                            <div class="details">
                                <div class="data__info">
                                    <p>Status : <span class="actual__status">
                                        {% if booking.label == 'accept' %}
                                            Accept
                                        {% elif booking.label == 'reject' %}
                                            Reject
                                        {% else %}
                                            Panding
                                        {% endif %}
                                    </span></p>
                                </div>

                                {% if bookings.0.status %}
                                    <div class="data__info">
                                        <p>Contact No : <span class="">{{booking.mess.number}}</span></p>
                                    </div>
                                {% endif %}

                                <div class="data__info">
                                    <p>Address : </p>
                                    <span class="map__link">
                                        <p>{{booking.mess.address}}</p>
                                    </span>
                                </div>

                                <div class="data__info">
                                    <p class="availability__txt">Availability : </p>
                                    <div class="availability__modes">
                                        {% if booking.mess.mess_availability == 'morning-Night' %}
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Morning
                                                </p>
                                            </div>
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Evening
                                                </p>
                                            </div>
                                            {% elif booking.mess.mess_availability == 'morning-AfterNoon-Night' %}  
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Morning
                                                </p>
                                            </div>
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Afternoon
                                                </p>
                                            </div>
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Evening
                                                </p>
                                            </div>
                                            {% elif booking.0.mess.mess_availability == 'Morning' %}
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Morning
                                                </p>
                                            </div>
                                            {% elif  booking.0.mess.mess_availability == 'Night' %}
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Evening
                                                </p>
                                            </div>
                                            {% elif booking.0.mess.mess_availability == 'morning-AfterNoon' %}
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Morning
                                                </p>
                                            </div>
                                            <div class="availability__modes__item">
                                                <p>
                                                    <i class="far fa-star"></i>
                                                    Afternoon
                                                </p>
                                            </div>
                                        {% endif %}


                                    </div>
                                </div>
                                
                                <div class="data__info">
                                    <p>Map Link : </p>
                                    <span class="map__link">
                                        <a href="{{booking.mess.map_link}}">{{booking.mess.map_link}}</a>
                                    </span>
                                </div>
        
                                <div class="data__info data__btn">
                                    <a href="/mess/{{booking.mess.slug}}">View Details</a>
                                    <button class="send__review">Send Review</button>
                                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
   </div>
   

</section>
 <!-- review box -->

 <div class="review__box">
    <h2 class="review__heading">Review</h2>

    <div class="mess__name">
        <h3>Maharaja Mess, Amravati</h3>
    </div>

    <div class="rating__range">
        <div class="rating__div">
              <div class="input__range">
                  <h3>Rating :</h3>
                  <input type="range" min="1" max="5" value="4">
              </div>

              <div class="review__rating">
                  <p><span><i class="fas fa-star rating__star"></i></span><span>4</span></p>
              </div>
        </div>
    </div>

    <div class="review__txt">
       <h3 class="review__txt_txtarea">Review :</h3>
       
       <div class="textarea__container">
           <textarea class="review__textarea" cols="30" rows="5" placeholder="Enter some text"></textarea>
       </div>
    </div>

    <div class="send__review__button">
        <button>Send Review</button>
    </div>
    
  <i class="fas fa-times cross"></i>
</div>

<!-- overlay -->
<div class="overlay">

</div>

{% endblock body %}

{% block js %}
<script src="{% static 'js/customer-history.js' %}"></script>
<script>
    const reviewBox = document.querySelector(".review__box");
    const closeButton = document.querySelector(".cross");
    const reviewButton = document.querySelectorAll(".send__review");
    const overlay = document.querySelector(".overlay");

    reviewButton.forEach((btn) =>
    {
    btn.addEventListener("click", ()=>{
        reviewBox.classList.toggle("show-review")
        overlay.classList.toggle("show-overlay");
    })
    })

    closeButton.addEventListener("click", ()=>{
    reviewBox.classList.toggle("show-review");
    overlay.classList.toggle("show-overlay");
    });
</script>
{% endblock js %}

