
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======= For colors ====== */
:root{
    --primary-color : #FB6514;
    --secondary-color : #FD853A;
    --light-primary : #FE8273;
    --light-secondary : #FDDCAB;
    --light-light-primary : #FFEAD5;
    --light-light-secondary : #FFF6ED;
    --X-light : #FFFAF5;
    --white : #fff;
    --black : #000;
    --green : green;
    --red : red;
    --light-bg: #FFEFD8;
}

/* ======= For fonts ======= */
:root{
    --small-font: .8rem;
    --primary-font: 1rem;
    --large-primary-font : 1.15rem;
    --secondary-font: 1.25rem;
    --large-font: 1.5rem;
    --x-large: 1.75rem;
    --xx-large: 2rem;
    --xxx-large : 2.5rem;
}

/* ====== For margins and paddings ======= */
:root{
   --mg-5: .5rem;
   --mg-7 : .7rem;
   --mg-8 : .8rem;
   --mg-10 : 1rem;
   --mg-12 : 1.2rem;
   --mg-15 : 1.5rem;
   --mg-20 : 2rem;
   --mg-25 : 2.5rem;
   --mg-30 : 3rem;
   --mg-35: 3.5rem;
   --mg-40: 4rem;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}

/* ========= All requests section ==========  */
.all__request__heading h2{
    font-size: var(--large-font);
    font-weight: 600;
    padding: var(--mg-10) var(--mg-20);
}

.all__requests{
    width: 100%;

}

.table__container {
    height: 500px;
    padding: var(--mg-10) 20px;
    overflow-y: auto;

}
.table__container table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

th, td{
   padding: var(--mg-5);
   font-size: var(--primary-font);
}

td{
    font-size: var(--small-font);
    font-weight: 500;
}

.status{
    width: 100%;
    height: 100%;
}

.message__block
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100px;
    width: 400px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    display: none;
}

.message__form
{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.close__btn , .close_addharBlock
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close__btn p , .close_addharBlock p
{
    transform: rotate(45deg);
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;

}
.input__block
{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.input__block label
{
    flex: 0.2;
}
.input__block p , .input__block input
{
    flex: 0.8;
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin:0 10px;
    padding: 10px;
    border-radius: 10px;
}
.input__block input
{
    border: none;
    outline: none;
    height: 50px;
}
.form__btn 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.form__btn button
{
    padding: 10px 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.5s ease;
}
.form__btn button:hover
{
    transform: scale(1.05);
}


/*================== addhar view block  ===================== */
.addhar__block
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 800px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    display: none;

}
.addhar__container
{
    width: 100%;
    display: flex;
    height: 550px;
}
.addhar__container iframe
{
    width: 100%;
    height: 100%;
}
.view_dahar_btn
{
    padding:10px 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.status
{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
