
/* ======= For colors ====== */
:root{
    --primary-color : #FB6514;
    --secondary-color : #FD853A;
    --light-primary : #FE8273;
    --light-secondary : #FDDCAB;
    --light-light-primary : #FFEAD5;
    --light-light-secondary : #FFF6ED;
    --X-light : #FFFAF5;
    --white : #fff;
    --black : #000;
    --green : green;
    --red : red;
    --light-bg: #FFEFD8;
}

/* ======= For fonts ======= */
:root{
    --small-font: .8rem;
    --primary-font: 1rem;
    --large-primary-font : 1.15rem;
    --secondary-font: 1.25rem;
    --large-font: 1.5rem;
    --x-large: 1.75rem;
    --xx-large: 2rem;
    --xxx-large : 2.5rem;
}

/* ====== For margins and paddings ======= */
:root{
   --mg-5: .5rem;
   --mg-7 : .7rem;
   --mg-8 : .8rem;
   --mg-10 : 1rem;
   --mg-12 : 1.2rem;
   --mg-15 : 1.5rem;
   --mg-20 : 2rem;
   --mg-25 : 2.5rem;
   --mg-30 : 3rem;
   --mg-35: 3.5rem;
   --mg-40: 4rem;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}

/* ========= Customer history ======== */

.section__title h2
{
    padding-left: 40px;
}

.customer__hostory__wrapper
{
    height: 530px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* ======= mess details box ====== */
#mess__details___box
{
    width: 100%;
}

#mess__details___box .wrapper
{
    width: 90%;
    margin: var(--mg-5) auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--secondary-color);
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
}
.wrapper .card
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#mess__details___box .wrapper .left
{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    background: transparent !important;

}

.wrapper .left .img__container
{
    width: 95%;
    height: 95%;
    border-radius: var(--mg-15);
    overflow: hidden;
}

.wrapper .left .img__container img
{
    width: 400px;
    height: 280px;
}


#mess__details___box .wrapper .right
{
    flex-basis: 73%;
    padding: 0 var(--mg-15);
    box-shadow: none !important;
    background: transparent !important;

}

#mess__details___box .wrapper .right header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mg-5) var(--mg-12);
    padding-top: var(--mg-7);

}

.rating .wrapper
{
    padding: var(--mg-5) var(--mg-15);
    border-radius: var(--mg-15);
    background-color: var(--white) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mess__details___box .wrapper .right .data__info
{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: var(--mg-5);
}

.rating .wrapper .stars
{
  display: flex;
  justify-content: center;
}

.rating__in__no p
{
    color: #000;
    padding: 0 var(--mg-10);
}

.rating .wrapper .stars i
{
    margin: 3px;
    color: var(--primary-color);
}


.wrapper .right .details
{
    padding: 0 var(--mg-12);
    display: flex;
    flex-direction: column;
}
.wrapper .right .details .status p
{
    font-weight: 600;
    font-size: var(--large-primary-font);

}

.actual__status{
    font-size: var(--large-primary-font);
    color: green;
}
.availability__txt
{
    font-size: var(--large-primary-font);
    font-weight: 500;
    flex: 0.2;
}

.availability__modes
{
    flex: 0.8;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: var(--large-primary-font);
}

.availability__modes__item
{
    font-size: var(--large-primary-font);
    font-weight: 600;
    color: var(--primary-font);
    padding: 0 var(--mg-5) ; 
}
.map__link
{
    margin-left: var(--mg-10);
}

.data__btn
{
    justify-content: flex-end;
}
.data__btn a,.data__btn button
{
    padding: var(--mg-5) var(--mg-15);
    border-radius: var(--mg-30);
    outline: none;
    border: none;
    font-size: var(--primary-font);
    background-color: #fff;
    margin:0 10px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease;
}
.data__btn a:hover , .data__btn button:hover
{
    transform:scale(1.05);
}


/* =========== Review Box ========= */

.review__box{
    width: 500px;
    height: 420px;
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1000;
    display: none;
}

.cross
{
    font-size: 35px;
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.show-review{
    display: block;
}

.review__heading{
    color: var(--primary-color);
    padding :var(--mg-5) var(--mg-20);
}

.rating__div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--mg-10) var(--mg-5);
    margin-top: var(--mg-12);
    margin-bottom: var(--mg-5);
}

.mess__name h3{
    font-weight: 600;
    font-size: var(--x-large);
    text-align: center;
    padding-top: var(--mg-5);
}
.input__range{
    flex-basis: 60%;
}

.input__range input{
    width: 90%;
}

.review__rating{
    flex-basis: 25%;
}

.review__rating p{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.199);
    padding: 5px var(--mg-10);
}

.rating__star{
    margin-right: 7px;
    font-size: 20px;
    color: var(--secondary-color);
}

.review__txt_txtarea{
   padding-left: 45px;
}

.textarea__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.review__textarea{
    resize: none;
    width: 80%;
    margin: var(--mg-5) auto;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    padding: var(--mg-5) var(--mg-10);
}

.send__review__button{
    text-align: center;
    padding: var(--mg-10);
}

.send__review__button button{
    padding: var(--mg-5) var(--mg-30);
    border-radius: 25px;
    box-shadow: 1px 1px 10px .1px rgba(0,0,0,0.2);
    font-weight: 600;
    background-color: var(--secondary-color);
    font-size: var(--primary-font);
    color: var(--white);
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.425);
    border: none;
}

/* overlay */
.overlay{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}

.show-overlay{
    display: block;
}