
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======= For colors ====== */
:root{
    --primary-color : #FB6514;
    --secondary-color : #FD853A;
    --light-primary : #FE8273;
    --light-secondary : #FDDCAB;
    --light-light-primary : #FFEAD5;
    --light-light-secondary : #FFF6ED;
    --X-light : #FFFAF5;
    --white : #fff;
    --black : #000;
    --green : green;
    --red : red;
    --light-bg: #FFEFD8;
}

/* ======= For fonts ======= */
:root{
    --small-font: .8rem;
    --primary-font: 1rem;
    --large-primary-font : 1.15rem;
    --secondary-font: 1.25rem;
    --large-font: 1.5rem;
    --x-large: 1.75rem;
    --xx-large: 2rem;
    --xxx-large : 2.5rem;
}

/* ====== For margins and paddings ======= */
:root{
   --mg-5: .5rem;
   --mg-7 : .7rem;
   --mg-8 : .8rem;
   --mg-10 : 1rem;
   --mg-12 : 1.2rem;
   --mg-15 : 1.5rem;
   --mg-20 : 2rem;
   --mg-25 : 2.5rem;
   --mg-30 : 3rem;
   --mg-35: 3.5rem;
   --mg-40: 4rem;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}

/* ========= Customer Edit section ==========  */
.all__request__heading h2{
    font-size: var(--large-font);
    font-weight: 600;
    padding: var(--mg-10) var(--mg-20);
}


/* =========== Review Box ========= */

.review__box{
    width: 75%;
    margin: 15px auto;
    background-color: white;
    border-radius: 10px;
    padding: var(--mg-10) 0
}

.cross
{
    font-size: 35px;
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.show-review{
    display: block;
}

.review__heading{
    color: var(--primary-color);
    padding :var(--mg-5) var(--mg-20);
}

.rating__div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--mg-10) var(--mg-5);
    margin-top: var(--mg-12);
    margin-bottom: var(--mg-5);
}

.input__range h3{
    font-weight: 700;
    padding: var(--mg-7) 0;
}
.input__range
{
    display: flex;
    justify-content: space-between;
}
.rating_input
{
    display: flex;
    align-items: center;
}
.rating_input label
{
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.rating_input label:hover
{
    border:1px solid var(--primary-color);
    color: var(--primary-color);
}

.review__rating
{
    flex-basis: 25%;
    padding-left: 30px;
}
.rating_input input
{
    width: 100%;
}
.review__rating p{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.199);
    padding: 5px var(--mg-10);
    margin-top: var(--mg-8);
}

.rating__star{
    margin-right: 7px;
    font-size: 20px;
    color: var(--secondary-color);
}

.review__txt{
    margin-top: var(--mg-10);
}

.review__txt_txtarea{
    padding: var(--mg-5) 0;
    padding-left: 80px;
}

.textarea__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.review__textarea{
    resize: none;
    width: 80%;
    margin: var(--mg-5) auto;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px .1px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    padding: var(--mg-5) var(--mg-10);
}

.send__review__button{
    text-align: center;
    padding: var(--mg-10);
    padding-top: var(--mg-10);
}

.send__review__button button{
    padding: var(--mg-7) var(--mg-30);
    border-radius: 25px;
    box-shadow: 1px 1px 10px .1px rgba(0,0,0,0.2);
    font-weight: 600;
    background-color: var(--secondary-color);
    font-size: var(--primary-font);
    color: var(--white);
    margin-top: 10px;
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.425);
    border: none;
    cursor: pointer;
}
