
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======= For colors ====== */
:root{
    --primary-color : #FB6514;
    --secondary-color : #FD853A;
    --light-primary : #FE8273;
    --light-secondary : #FDDCAB;
    --light-light-primary : #FFEAD5;
    --light-light-secondary : #FFF6ED;
    --X-light : #FFFAF5;
    --white : #fff;
    --black : #000;
    --green : green;
    --red : red;
    --light-bg: #FFEFD8;
}

/* ======= For fonts ======= */
:root{
    --small-font: .8rem;
    --primary-font: 1rem;
    --large-primary-font : 1.15rem;
    --secondary-font: 1.25rem;
    --large-font: 1.5rem;
    --x-large: 1.75rem;
    --xx-large: 2rem;
    --xxx-large : 2.5rem;
}

/* ====== For margins and paddings ======= */
:root{
   --mg-5: .5rem;
   --mg-7 : .7rem;
   --mg-8 : .8rem;
   --mg-10 : 1rem;
   --mg-12 : 1.2rem;
   --mg-15 : 1.5rem;
   --mg-20 : 2rem;
   --mg-25 : 2.5rem;
   --mg-30 : 3rem;
   --mg-35: 3.5rem;
   --mg-40: 4rem;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}


/* ========= Customer Edit section ==========  */
.all__request__heading h2{
    font-size: var(--large-font);
    font-weight: 600;
    padding: var(--mg-10) var(--mg-20);
}


#customer__edit{
    width: 100%;
}

.edit__heading h2{
    font-weight: 600;
    font-size: var(--secondary-font);
    padding-top: var(--mg-5) 0;
}

#customer__edit .wrapper{
    height: 600px;
    overflow-y: auto;
    display: flex;
    padding: var(--mg-5) var(--mg-20);
}

.edit__profile{
    flex-basis: 50%;
    padding: 0 var(--mg-25);
}

#customer__edit .input__field{
    width: 100%;
    margin-bottom: var(--mg-8);
}

#customer__edit .input__field label{
    display: block;
    font-weight: 500;
    margin: 3px 0;
    font-size: 13px;
}

#customer__edit .input__field input{
    width: 90%;
    padding: var(--mg-7) var(--mg-10);
    border-radius: var(--mg-5);
    border: none;
    box-shadow: 1px 1px 5px .1px rgba(0,0,0,0.3);
    outline: none;
}

.customer__edit__textarea{
    resize: none;
    width: 90%;
    height: 110px;
    padding: var(--mg-7) var(--mg-10);
    border-radius: var(--mg-5);
    border: none;
    box-shadow: 1px 1px 5px .1px rgba(0,0,0,0.3);
    outline: none;
}

.edit__button{
    text-align: center;
    padding: var(--mg-5);
}

.edit__button button
{
    padding: var(--mg-5)var(--mg-30);
    border-radius: 25px;
    font-weight: 600;
    color: var(--white);
    font-size: var(--primary-font);
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px .1px rgba(0,0,0,.3);
    cursor: pointer;
    transition: all 0.5s ease;
}
.edit__button button:hover
{
    transform: scale(1.05);
}
.pic_edit_btn
{
    text-align: left;
    margin-left: 10rem;
    margin-top: 5px;

}

.file__input
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}
.file__input input
{
    flex: 0.6;

}
.file__input .view_addhar_btn
{
    flex: 0.3;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.file__input .view_addhar_btn:hover
{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.edit__profile__photo
{
    flex-basis: 50%;
}

  .pic__box
  {
     width: 80%;
     height: 450px;
     border-radius: 7px;
     /* margin: 0 20px; */
     margin-top: var(--mg-12);
     background-color: white;
     overflow: hidden;
     box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  }
  .pic__box .uper
  {
      width: 100%;
      height: 390px;
      overflow: hidden;
  }
  .pic__box .uper img
  {
      width: 100%;
      height: 100%;
  }

  .pic__box .bottom
  {
      width: 100%;
      border-top: 1px solid rgba(128, 128, 128, 0.329);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: var(--primary-font);
      padding: var(--mg-7);
      background-color: rgba(0, 0, 0, 0.788);
  }

  .add
  {
      font-size: 35px;
      color: var(--secondary-color);
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.5s ease;
  }
  .profile-img-label
  {
      color: #fff;
  }
  .add:hover
  {
      transform: scale(1.05);
  }
  .disable-pic-add
  {
      display: none;
  }