
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======= For colors ====== */
:root{
    --primary-color : #FB6514;
    --secondary-color : #FD853A;
    --light-primary : #FE8273;
    --light-secondary : #FDDCAB;
    --light-light-primary : #FFEAD5;
    --light-light-secondary : #FFF6ED;
    --X-light : #FFFAF5;
    --white : #fff;
    --black : #000;
    --green : green;
    --red : red;
    --light-bg: #FFEFD8;
}

/* ======= For fonts ======= */
:root{
    --small-font: .8rem;
    --primary-font: 1rem;
    --large-primary-font : 1.15rem;
    --secondary-font: 1.25rem;
    --large-font: 1.5rem;
    --x-large: 1.75rem;
    --xx-large: 2rem;
    --xxx-large : 2.5rem;
}

/* ====== For margins and paddings ======= */
:root{
   --mg-5: .5rem;
   --mg-7 : .7rem;
   --mg-8 : .8rem;
   --mg-10 : 1rem;
   --mg-12 : 1.2rem;
   --mg-15 : 1.5rem;
   --mg-20 : 2rem;
   --mg-25 : 2.5rem;
   --mg-30 : 3rem;
   --mg-35: 3.5rem;
   --mg-40: 4rem;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}

/* ========= Customer Edit section ==========  */
.all__request__heading h2
{
    font-size: var(--large-font);
    font-weight: 600;
    padding: var(--mg-10) var(--mg-20);
}

/* ============================ feedback form ==========================*/
#customer__edit
{
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: var(--mg-20) auto;
}
.form__container
{
    background-color: #fff;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: var(--mg-20);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.review__heading
{
    padding: 10px;
}
.input__block
{
    display: flex;
    flex-direction: column;
}
.input__block h3
{
    flex: 1;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
}
.input__block .rating__box
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.rating__box .rating_input
{
    flex: 0.8;
    display: flex;
    justify-content: space-between;
}
.rating_input label
{
    border: 1px solid black;
    padding:5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 var(--mg-10);
    transition: all 0.5s ease;
    font-size: 16px;
}
.rating_input label:hover
{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.rating_input input
{
    flex: 1;
}
.rating__box .review__rating
{
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review__rating p
{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    padding: 5px var(--mg-5);
    letter-spacing: 1px ;
    border-radius:10px ;
}
.review__rating .rating__star
{
    color: gold;
    margin:0 10px;
}

.textarea__container
{
    flex: 1;
    width: 100%;
    /* margin: 10px; */
    padding: 10px;
}
.textarea__container textarea
{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

.send__review__button
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.send__review__button button
{
    padding: 10px var(--mg-10);
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.5s ease;
}
.send__review__button button:hover
{
    transform: scale(1.05);
}