@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======= For colors ====== */
:root{
    --primary-color : #FB6514;
    --secondary-color : #FD853A;
    --light-primary : #FE8273;
    --light-secondary : #FDDCAB;
    --light-light-primary : #FFEAD5;
    --light-light-secondary : #FFF6ED;
    --X-light : #FFFAF5;
    --white : #fff;
    --black : #000;
    --green : green;
    --red : red;
    --light-bg: #FFEFD8;
}

/* ======= For fonts ======= */
:root{
    --small-font: .8rem;
    --primary-font: 1rem;
    --large-primary-font : 1.15rem;
    --secondary-font: 1.25rem;
    --large-font: 1.5rem;
    --x-large: 1.75rem;
    --xx-large: 2rem;
    --xxx-large : 2.5rem;
}

/* ====== For margins and paddings ======= */
:root{
   --mg-5: .5rem;
   --mg-7 : .7rem;
   --mg-8 : .8rem;
   --mg-10 : 1rem;
   --mg-12 : 1.2rem;
   --mg-15 : 1.5rem;
   --mg-20 : 2rem;
   --mg-25 : 2.5rem;
   --mg-30 : 3rem;
   --mg-35: 3.5rem;
   --mg-40: 4rem;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}

/* ======== user panal ========= */
.user__panal__container{
    width: 100vw;
    height: 100vh;
    padding: var(--mg-12) var(--mg-20);
    display: flex;
    justify-content: space-between;
}

.user__panal__container .left 
{
    flex-basis: 8%;
    padding: var(--mg-5) 0px;
    background-color: var(--light-bg);
    border-radius: var(--mg-20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
}
.user__panal__container .left_username
{
    flex-basis: 30%;
    display: flex;
    box-shadow: none;
    margin:0 10px ;
}
.user__panal__container .left .logo h2
{
    color: var(--primary-color);
}

.panal__links__container ul
{
    width: 100%;
    list-style: none;
}

.panal__links__container ul .list__item
{
    display: block;
}

.panal__links__container ul .list__item a,
.logout a{
    display: block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--black);
    padding: var(--mg-5) var(--mg-10);
    transition: .3s ease;
}
.panal__links__container ul .list__item a:hover
{
    background-color: #fe817381;
    color: var(--white);
}

.logout p
{
    font-size: 12px;
}
.panal__links__container ul .list__item p
{
    font-size: 12px;
}
.panal__links__container ul .list__item a img
{
    width: 20px;
}


.logout img{
    width: 30px;
}

.logout a{
    padding: var(--mg-5) var(--mg-30);
}

.logout a:hover{
    background-color: #fe817381;
    color: var(--white);
}



.user__panal__container .right{
    flex-basis: 87%;
    background-color: var(--light-bg);
    border-radius: var(--mg-20);
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
}


.user__panal__container .right .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mg-7) var(--mg-5);
}

.user__panal__container .right .header .left{
    flex-basis: 30%;
    box-shadow: none !important;
}

.user__panal__container .header__heading{
    font-weight: 600;
    font-size: var(--secondary-font);
    text-align: left !important;
}


.user__panal__container .right .header .middle{
    flex-basis: 35%;
}

.input__field__header{
    width: 100%;
    position: relative;
}

.input__field__header input{
    width: 100%;
    padding: var(--mg-7) var(--mg-15);
    padding-right: var(--mg-20);
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 10px .5px rgba(0, 0, 0, 0.247);
    transition: .3s ease;
}

.input__field__header input:focus{
    border: 2px solid rgb(39, 230, 255);
}

.search__btn__header{
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .3s ease;
}

.search__btn__header:hover{
    color: var(--primary-color);
}


.user__panal__container .right .header #right{
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: var(--mg-30);
}

.profile__container__header{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    overflow: hidden;
}

.profile__container__header img{
    width: 100%;
    height: 100%;
}



/* ========= mess service details ========= */
#mess__service_details{
    width: 100%;
    padding : var(--mg-10) var(--mg-20);
}

.section__heading h2{
    font-weight: 600;
    font-size: var(--large-font);
    padding: var(--mg-5) var(--mg-20);
}

#details__wrapper{
    width: 95%;
    height: 500px;
    background-color: var(--light-secondary);
    border-radius: var(--mg-10);
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#details__wrapper .leftBox{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details__wrapper .rightBox{
    flex-basis: 50%;
}

.rightBox .mess__name h2{
   padding: var(--mg-10) var(--mg-20);
   font-weight: 600;
   font-size: var(--secondary-font);
}


.rightBox .rating{
    display: inline-block;
    margin-left: var(--mg-20);
}

.rating .wrapper{
    padding: var(--mg-5) var(--mg-15);
    border-radius: var(--mg-15);
    background-color: var(--white);
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px .1px rgba(0, 0, 0, 0.137);

}

#mess__details___box .wrapper .right .mess__name h2{
    font-weight: 600;
}

.rating .wrapper .stars{
  display: flex;
  justify-content: center;
}

.rating__in__no p{
    padding: 0 var(--mg-10);
    padding-bottom: 0;
}

.rating .wrapper .stars i{
    margin: 3px;
    color: var(--primary-color);
}



.features__title,.address__title{
    font-weight: 600;
    font-size: var(--large-primary-font);

    padding: 2px var(--mg-20);
    margin-top: var(--mg-10);
}

.features__items{
    padding: 0 var(--mg-15);
    padding-left: var(--mg-40);
}

.features__items p{
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.dot__icon{
    font-size: 9px;
    color: rgb(73, 73, 73);
    margin-right: var(--mg-7);
}

.address__para p{
    padding-left: var(--mg-40);
    font-weight: 500;

}


.availability__txt{
    font-size: var(--large-primary-font);
    font-weight: 600;
    padding: 0 var(--mg-20);
    padding-top: var(--mg-10);
}

.availability__modes{
    width: 100%;
    display: flex;
    font-size: var(--large-primary-font);
    padding-left: var(--mg-30);
}

.availability__modes__item p{
    font-size: var(--large-primary-font);
    margin: var(--mg-5) var(--mg-20);
    font-weight: 500;
    font-size: var(--primary-font);
}



#mess__details___box .wrapper .right .details .bottom{
    font-size: var(--large-primary-font);
    padding: var(--mg-15) 0;
    display: flex ;
}

#mess__details___box .wrapper .right .details .bottom .map{
    font-weight: 600;
}

.map__link a{
    margin-left: var(--mg-10);
    font-size: var(--primary-font);
}

#view__details__btn{
    flex-basis: 30%;
}

.bottom .map p{
    padding: 0 var(--mg-20);
    padding-top: var(--mg-7);
    font-weight: 600;
    font-size: var(--large-primary-font);

}

#view__details__btn{
    flex-basis: 30%;
    text-align: right;
}

#view__details__btn button{
    padding: var(--mg-5) var(--mg-15);
    border-radius: var(--mg-30);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
    outline: none;
    border: none;
    font-weight: 500;
    margin-right: var(--mg-20);
    font-size: var(--primary-font);
    background-color: var(--light-primary);
    color: var(--white);
    letter-spacing: .5px;
    word-spacing: 1px;
    cursor: pointer;
}





/* ====== slider ====== */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .mySwiper{
      width: 550px;
      height: 95%;
      border-radius: var(--mg-15);
      
  }


  /* mess--------- details *------------------------*/
  .mess_details_form
  {
      padding: 20px;
  }
  .messForm
  {
      width: 100%;
    height: 500px;
    padding: 10px;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
  }
  .messForm::-webkit-scrollbar
  {
      width: 10px;
      border-radius: 20px;
      background-color: rgb(243, 241, 241);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
  }
  .messForm::-webkit-scrollbar-thumb
  {
      background-color: var(--primary-color);
      border-radius: 20px;
  }
  .mess__heading h2
  {
      text-transform: uppercase;
      position: relative;
      width: fit-content;
      margin: 10px;
  }
  .mess__heading h2::before
  {
      content: "";
      position: absolute;
      top: 100%;
      left: 0%;
      height: 3px;
      width: 100%;
      background-color: #000;
  }

  .input__block
  {
      display: flex;
      justify-content: space-between;
      align-items: initial;
  }
  .input__block .label_box
  {
      flex: 0.15;
      width: 100%;
      margin-top: 1rem;
  }
  .label_box label
  {
      margin-top: 1rem !important;
  }
  .input__block .input_box
  {
      flex: 0.85;
      width: 100%;
  }

  .input__block .input_box input , .input_box select
  {
      width: 90%;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 10px;
      margin: 10px 0;
      background-color: #fff;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);

  }

  .input__block .input_box textarea
  {
    width: 90%;
    height: 150px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    resize: none;

  }
  .combo__container
  {
      width: 95%;
      display: flex;
      justify-content: space-between;
  }
  .combo__container .input__block 
  {
      flex: 0.5;
      width: 100%;
      justify-content: flex-start;
  }
  .combo__container .input_box
   {
        flex: 0.65;
        width: 100%;
   }
  .combo__container .label_box
    {
        flex: 0.32;
        width: 100%;
    }

.send__btn
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.send__btn button
{
    padding: 10px var(--mg-30);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    transition: all 0.5s ease; 
    cursor: pointer;
}
.send__btn button:hover
{
    transform: scale(1.05);
}




/* ------------------images-------------- */
.images__block
{
    display: flex;
    padding: 20px;
}
.image__block
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
}
.image__block img
{
    width: 100%;
    height: 100%;
}
