{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <title>
        {% block title %} Food Belly {% endblock title %}
    </title>
    
    <link rel="stylesheet" href="{% static 'css/userPanal_supplier__slider.css' %}">
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/userPanal_supplier.css' %}" >
    {% endblock css %}
</head>

<body>
      <!-- ======== User Panal ========= -->
      <div class="user__panal__container">
        {% if supplier %}
        {% if supplier.active %}
          <div class="left">
                  <div class="logo">
                      <a href="/">
                        <i><h2>Food <br> Belly</h2></i>
                      </a>
                      
                  </div>

                  <div class="panal__links__container">
                      <ul>
                          <li class="list__item">
                              <a href="/">
                                  <div>
                                      <img src="{% static 'icons/house.png' %}" alt="">
                                  </div>
                                  <p>Home</p>
                              </a>
                          </li>

                          <li class="list__item">
                            <a href="{% url 'supplier-userpanal' %}">
                                <div>
                                    <img src="{% static 'icons/option.png' %}" alt="">
                                </div>
                                <p>User Panal</p>
                            </a>
                            </li>

                            {% if mess %}
                            <li class="list__item">
                                <a href="{% url 'add-supplier-mess' %}">
                                    <div>
                                        <img src="{% static 'icons/plus-sign.png' %}" alt="">
                                    </div>
                                    <p>Edit Mess</p>
                                </a>
                            </li>
                            {% else %}
                            <li class="list__item">
                                <a href="{% url 'add-supplier-mess' %}">
                                    <div>
                                        <img src="{% static 'icons/plus-sign.png' %}" alt="">
                                    </div>
                                    <p>Add Mess</p>
                                </a>
                            </li>
                            {% endif %}

                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="{% static 'icons/customer-review.png' %}" alt="">
                                    </div>
                                    <p>Customers</p>
                                </a>
                            </li>

                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="{% static 'icons/request.png' %}" alt="">
                                    </div>
                                    <p>Requests</p>
                                </a>
                            </li>

                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="{% static 'icons/settings.png' %}" alt="">
                                    </div>
                                    <p>Settings</p>
                                </a>
                            </li>
                      </ul>
                  </div>


                  <div class="logout">
                    <a href="{% url 'logout' %}">
                        <div>
                            <img src="{% static 'icons/logout.png' %}" alt="">
                        </div>
                        <p>Logout</p>
                    </a>
                  </div>
          </div>
          <div class="right">
            <header class="header">
                            <div class="left_username">
                                <h2 class="header__heading">Welcome, <br>
                                    <span>{{supplier.name}}</span></h2>
                            </div>

                            <div class="middle">
                                <div class="input__field__header">
                                    <input type="text" placeholder="Search">
                                    <i class="fas fa-search search__btn__header"></i>
                                </div>
                            </div>

                            <div id="right">
                                <div class="profile__container__header">
                                    {% if supplier.image %}
                                        <img src="{{supplier.image.url}}" alt="">
                                    {% else %}
                                        <img src="{% static 'images/—Pngtree—indian food talley curry soup_6814449.png' %}" alt="">
                                    {% endif %}
                                </div>
                            </div>
            </header>
            {% block body %}
                {% if mess %}
                    <section id="mess__service_details">
                                    <div class="section__heading">
                                        <h2>Mess Services Details</h2>
                                    </div>

                                    <div id="details__wrapper">
                                        <div class="leftBox">
                                            <div class="swiper mySwiper">
                                                <div class="swiper-wrapper">
                                                    {% if mess.mess_image1 %}
                                                        <div class="swiper-slide">
                                                            <img src="{{mess.mess_image1.url}}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if mess.mess_image2 %}
                                                        <div class="swiper-slide">
                                                            <img src="{{mess.mess_image2.url}}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if mess.mess_image3 %}
                                                        <div class="swiper-slide">
                                                            <img src="{{mess.mess_image3.url}}" alt="">
                                                        </div>
                                                    {% endif %}
                                                    {% if mess.mess_image4 %}
                                                        <div class="swiper-slide">
                                                            <img src="{{mess.mess_image4.url}}" alt="">
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-pagination"></div>
                                                </div>
                                        </div>

                                        <div class="rightBox">
                                            <div class="mess__name">
                                                <h2>{{mess.name}}</h2>
                                            </div>
                                
                                            <div class="rating">
                                                <div class="wrapper">
                                                    <div class="stars">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>

                                                    <div class="rating__in__no">
                                                        <p>{{mess.rating}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="features">
                                                <div class="features__title">
                                                    <p>Features</p>
                                                </div>

                                                <div class="features__items">
                                                    {% comment %} <p><i class="fas fa-circle dot__icon"></i> Lorem ipsum dolor, sit amet consectetur.</p>
                                                    <p><i class="fas fa-circle dot__icon"></i> Lorem ipsum dolor, sit amet consectetur.</p>
                                                    <p><i class="fas fa-circle dot__icon"></i> Lorem ipsum dolor, sit amet consectetur.</p>
                                                    <p><i class="fas fa-circle dot__icon"></i> Lorem ipsum dolor, sit amet consectetur.</p> {% endcomment %}
                                                    {{mess.meal_feature}}
                                                </div>
                                            </div>
                                            
                                            <div class="address">
                                                <div class="address__title">
                                                    <p>Address</p>
                                                </div>

                                                <div class="address__para">
                                                    <p>{{mess.address}}</p>
                                                </div>
                                            </div>


                                            <div>
                                                <p class="availability__txt">Availability : </p>
                                                <div class="availability__modes">
                                                    {% if mess.mess_availability == 'morning-Night' %}
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Morning
                                                            </p>
                                                        </div>
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Evening
                                                            </p>
                                                        </div>
                                                        {% elif mess.mess_availability == 'morning-AfterNoon-Night' %}  
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Morning
                                                            </p>
                                                        </div>
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Afternoon
                                                            </p>
                                                        </div>
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Evening
                                                            </p>
                                                        </div>
                                                        {% elif mess.mess_availability == 'Morning' %}
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Morning
                                                            </p>
                                                        </div>
                                                        {% elif  mess.mess_availability == 'Night' %}
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Evening
                                                            </p>
                                                        </div>
                                                        {% elif mess.mess_availability == 'morning-AfterNoon' %}
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Morning
                                                            </p>
                                                        </div>
                                                        <div class="availability__modes__item">
                                                            <p>
                                                                <i class="far fa-star"></i>
                                                                Afternoon
                                                            </p>
                                                        </div>
                                                    {% endif %}


                                            </div>


                                            <div class="bottom">
                                                <div class="map">
                                                    <p>Map Link : 
                                                        <span class="map__link">
                                                            <a href="{{mess.map_link}}">{{mess.map_link}}</a>
                                                        </span>
                                                    </p>
                                                </div>
                    
                                                <div id="view__details__btn">
                                                    <button>View Details</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                    </section>
                {% else %}
                    <section>
                        <h3>Please Add Your Mess Details.</h3>
                        <a href="{% url 'add-supplier-mess' %}">Add Mess</a>
                    </section>
                {% endif %}
            {% endblock body %}
                {% else %}
                <div class="container">
                    <h2>Your Account is Not Activated At Wait for 1 Day. We Check Your Details Then Activate your Account Sortly.
                        Thank You Register.
                    </h2>
                </div>
                {% endif %}
                {% endif %}

          </div>
      </div>
    
      <!-- Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <script src="{% static 'js/userPanal_supplier_slider.js' %}"></script>

      {% block js %}
        <script src="{% static 'js/userPanal_supplier.js' %}"></script>
      {% endblock js %}
</body>
</html>
