{% extends "supplier/supplier-userpanal.html" %}
{% load static %}
{% block title %} Cutomers | Food Belly {% endblock title %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/suppliers_customer.css' %}">
    
{% endblock css %}


{% block body %}
<section id="all__customers">
    <div class="section__title">
        <h2>All Customers</h2>
    </div>

    <div class="customer__cards__container">

        {% if bookings %}
            {% for booking in bookings %}
            <div class="customer__card">
                <div class="img__container">
                    {% if booking.customer.image %}
                        <img src="{{booking.customer.image.url}}" alt="">
                    {% else %}
                        <img src="{% static 'images/—Pngtree—indian food talley curry soup_6814449.png' %}" alt="">
                    {% endif %}
                </div>
    
                    <div class="customer__details">
                        <div class="name">
                            <p>{{booking.customer.name}}</p>
                        </div>
    
                        <div class="mobile">
                            <p>Mb no :</p>
                            <p class="mb__no">{{booking.customer.number}}</p>
                        </div>
    
                        <div class="view__details">
                            <button>View Details</button>
                        </div>
                    </div>
            </div>
            {% endfor %}    
        {% endif %}

    </div>


 </section>

{% endblock body %}


{% block js %}
<script src="{% static 'js/supplier_cutomer.js' %}"></script>
{% endblock js %}