{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Belly | About Us</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
     integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
     
     <!-- Link Swiper's CSS -->
     <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
   
    <!-- <link rel="stylesheet" href="./css/userPanal_supplier__slider.css"> -->
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>

        <!-- ======== header ========== -->
        <header class="header">
            <nav class="navbar">
                <div class="logo__cont">
                     <a href="/">
                         <div class="logo__img">
                             <img src="{% static 'images/hamburger.png' %}" alt="logo">
                         </div>
    
                         <div class="logo__text">
                             <h2><i>Food <br/> Belly</i></h2>
                         </div>
                     </a>
                </div>
    
                <div class="menu">
                    <ul class="ul-list">
                        <li class="list-item"><a href="/" class="active">Home</a></li>
                        <li class="list-item"><a href="/#services">Services</a></li>
                        <li class="list-item"><a href="{% url 'contact' %}">Contact</a></li>
                        <li class="list-item"><a href="{% url 'all-supliers' %}">Mess</a></li>
                    </ul>
                </div>
    
                <div class="auth__container">
                    <p class="auth">Auth</p>
                    <div class="down__btn">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </nav>
    
        </header>


   

    <!-- ===== about-us ====== -->
    <section class="about__us">
        <div class="section__title">
            <h2>About Us</h2>
        </div>

         <div class="features__container">
                    <h3>Features : </h3>

                    <ul class="features__list">
                        <li class="list__item">
                            Lorem Ipsum is simply dummy text of the printing.
                        </li>

                        <li class="list__item">
                            Lorem Ipsum is simply dummy text of the printing.
                        </li>

                        <li class="list__item">
                            Lorem Ipsum is simply dummy text of the printing.
                        </li>

                        <li class="list__item">
                            Lorem Ipsum is simply dummy text of the printing.
                        </li>
                    </ul>

                    <div class="features__para">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Reiciendis dolor velit vero animi quae harum architecto modi at commodi quis.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, incidunt.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Reiciendis dolor velit vero animi quae harum architecto modi at commodi quis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, incidunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Reiciendis dolor velit vero animi quae harum architecto modi at commodi quis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, incidunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Reiciendis dolor velit vero animi quae harum architecto modi at commodi quis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, incidunt.</p>
                    </div>
         </div>


         <div class="developers__team">
             <h3>Developers Team :</h3>

             <div class="developer__cards">
                      <div class="developer__card">
                            <div class="img__container">
                                <img src="{% static 'images/aditya.jpg' %}" alt="">
                            </div>

                            <div class="developer__details">
                                    <div class="name">
                                        <p>Aditya Chandrikapure</p>
                                    </div>

                                    <div class="profession">
                                        <p>Full Stack Developer</p>
                                    </div>

                                    <div class="detail__info">
                                        <p>
                                            I am a Full Stack developer
                                            perceiving my B.tech Degree 
                                            in brach InformationTechnology
                                            at Government College of Engineering Amravati.
                                        </p>
                                    </div>

                                    <div class="deveoper__social__icons">
                                        <a href="#">
                                            <i class="fab fa-facebook-square facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="fab fa-instagram instagram"></i>
                                        </a>

                                        <a href="#">
                                            <i class="fab fa-github github"></i>
                                        </a>

                                        <a href="#">
                                            <i class="fab fa-linkedin linkedin"></i>
                                        </a>
                                    </div>
                             </div>
                        </div>


                        <div class="developer__card">
                            <div class="img__container">
                                <img src="{% static 'images/ankush.jpg' %}" alt="">
                            </div>

                            <div class="developer__details">
                                <div class="name">
                                    <p>Ankush Chavhan</p>
                                </div>

                                <div class="profession">
                                    <p>Frontend Developer</p>
                                </div>

                                <div class="detail__info">
                                    <p>
                                        I am a Frontend developer
                                        perceiving my B.tech Degree 
                                        in brach InformationTechnology
                                        at Government College of Engineering Amravati.
                                    </p>
                                </div>
                            </div>


                            <div class="deveoper__social__icons">
                                <a href="#">
                                    <i class="fab fa-facebook-square facebook"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-instagram instagram"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-github github"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-linkedin linkedin"></i>
                                </a>
                            </div>
                        </div>



                        <div class="developer__card">
                            <div class="img__container">
                                <img src="{% static 'images/raksha2.jpg' %}" alt="">
                            </div>

                            <div class="developer__details">
                                    <div class="name">
                                        <p>Raksh Jogi</p>
                                    </div>

                                    <div class="profession">
                                        <p>Frontend Developer</p>
                                    </div>

                                    <div class="detail__info">
                                        <p>
                                            I am a Frontend developer
                                            perceiving my B.tech Degree 
                                            in brach InformationTechnology
                                            at Government College of Engineering Amravati.
                                        </p>
                                    </div>
                            </div>

                            <div class="deveoper__social__icons">
                                <a href="#">
                                    <i class="fab fa-facebook-square facebook"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-instagram instagram"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-github github"></i>
                                </a>

                                <a href="#">
                                    <i class="fab fa-linkedin linkedin"></i>
                                </a>
                            </div>
                        </div>

                </div>

                
         </div>
     

    </section>





    <!-- ======= modal for authentication -->
    <div class="authentication__model">
        <div>
            <p class="auth__heading">Authentication</p>
        </div>

        <div>
            <p class="auth__link customer__auth__link">
                {% if customer  %}
                <i class="fas fa-user"></i> Customer Auth <span style="font-size: 12px;">(Logged in)</span></p>
                {% else %}
                <i class="fas fa-user"></i> Customer Auth</p>
                {% endif %}
            <p class="auth__link supplier__auth__link">
                {% if supplier %}
                <i class="fas fa-user"></i> Mess Supplier Auth<span style="font-size: 12px;">(Logged in)</span> </p>
                {% else %}
                <i class="fas fa-user"></i> Mess Supplier Auth</p>
                {% endif %}
        </div>
    </div>

    <div class="customer__authentication__model">
        <div>
            <p class="auth__heading">Customer Authentication</p>
        </div>

        <div>
            {% if customer %}
                <a href="{% url 'customer-userpanal' %}" class="auth__link customer__login__link"><i class="far fa-address-card"></i> UserPanal</a>
                <a href="{% url 'logout' %}" class="auth__link customer__register__link"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
                <a href="{% url 'customer-login' %}" class="auth__link customer__login__link"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a href="{% url 'customer-register' %}" class="auth__link customer__register__link"><i class="far fa-registered"></i> Registration</a>
            {% endif %}
        </div>
    </div>


    <div class="supplier__authentication__model">
        <div>
            <p class="auth__heading">Supplier Authentication</p>
        </div>

        <div>
            {% if supplier %}
                <a href="{% url 'supplier-userpanal' %}" class="auth__link supplier__login__link"><i class="far fa-address-card"></i> UserPanal </a>
                <a href="{% url 'logout' %}" class="auth__link supplier__register__link"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
                <a href="{% url 'supplier-login' %}" class="auth__link supplier__login__link"><i class="fas fa-sign-in-alt"></i> Login </a>
                <a href="{% url 'supplier-register' %}" class="auth__link supplier__register__link"><i class="far fa-registered"></i> Registration</a>
            {% endif %}
        </div>
    </div>

    <!--====== black layer -->
    <div class="black__layer">
    </div>
    
    <!-- ======== footer ========= -->
    <footer class="footer">

        <div class="footer__wrapper">

            <div class="info__footer">
                 <div class="footer__logo">
                     <a href="/">
                        <div class="logo">
                               <img src=" {% static 'images/hamburger.png' %}" alt="">
                        </div>

                        <div class="logo__txt">
                            <h2>Food<br> Belly</h2>
                        </div>
                     </a>
                 </div>

                 <div class="details__para__footer">
                     <p>Government College Of Engineering<br> Amravati
                        Near Kathora Naka - 444061</p>
                 </div>

                 <div class="personal__details__footer">
                     <p><i class="fas fa-phone dot"></i> Mo No : 8788299321</p>
                     <p><i class="fas fa-envelope dot"></i> Email : abcdefg34@gmail.com</p>
                 </div>
            </div>



    
            <div class="others__page__footer">
                <div class="footer__section__title">
                    <h2>Others Pages</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>

    

            <div class="other__links__footer">
                <div class="footer__section__title">
                    <h2>Important Links</h2>
                </div>

                <ul>
                    <li>
                        <a href="/about-us/" class="link__footer">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>
    


            <div class="social__footer">
                <div class="footer__section__title">
                    <h2>Follow Us</h2>
                </div>

                <div class="social__icons">
                    <div>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </div>

                    <div>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                    </div>

                    <div>
                        <a href="#"><i class="fab fa-github-square"></i></a>
                    </div>

                    <div>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>


        <div class="footer__bottom">
            <p>&copy; Copyright <span class="current__year__footer"></span> All Rights are reserved.</p>
        </div>

    </footer>





    
      <!-- Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <!-- <script src="./js/userPanal_supplier_slider.js"></script> -->

      <script src="{% static 'js/about-us.js' %}"></script>
</body>
</html>
