{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %} ">

    <title>Food Belly | Contact Us</title>
</head>

<body>
      
    <!-- ======== contact container =========== -->
    <div class="contact__wrapper">
        <div class="left">

            <div class="heading__txt_container">
                <a href="/"> 
                    <i class="far fa-arrow-alt-circle-left back__arrow"></i>
                 </a>
                <h2 class="heading">Let's get in touch</h2>

                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Beatae deleniti facere nam mollitia velit repellat!
                    Beatae deleniti facere nam mollitia velit repellat!
                </p>
            </div>

            <div class="info__container">
                <div class="info__field">
                    <div class="icon">
                         <img src="{% static 'icons/address.png' %}" alt="">
                    </div>

                    <div class="address">
                        <p>Shivaji Nagar, Chirde layout Ner 445102</p>
                    </div>
                </div>

                <div class="info__field">
                    <div class="icon">
                        <img src="{% static 'icons/gmail.png' %}" alt="">
                    </div>

                    <div class="address">
                        <p>abcd1234@gmail.com</p>
                    </div>
                </div>

                <div class="info__field">
                    <div class="icon">
                        <img src="{% static 'icons/call.png' %}" alt="">
                    </div>

                    <div class="address">
                        <p>123-456-678</p>
                    </div>
                </div>
            </div>

            
            <div class="social__container">
                <div>
                    <h3 class="social__heading">Contact with us :</h3>
                </div>

                <div class="icons">
                    <div>
                        <a href="#">
                            <img src="{% static 'icons/facebook.png' %}" alt="">
                        </a>
                       
                    </div>

                    <div>
                        <a href="#">
                            <img src="{% static 'icons/instagram.png' %}" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="{% static 'icons/github-sign.png' %}" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="{% static 'icons/linkedin.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>


            
        </div>

        <div class="right">
            <div class="contact__heading">
                <h2>Contact Us</h2>
            </div>

            <form action="#" method="POST">
                <div class="input__field">
                    <input type="text" name="name" placeholder="Full Name">
                </div>

                <div class="input__field">
                    <input type="email" name="email" placeholder="Email">
                </div>


                <div class="input__field">
                    <input type="text" name="number" placeholder="Mobile No">
                </div>

                <div class="input__field">
                    <textarea cols="30" rows="7" name="message" placeholder="Message"></textarea>
                </div>

                <div class="send__btn__container">
                    <button type="submit" >Send</button>
                </div>
            </form>
        </div>

        <div class="icon__box"> </div>
    </div>



      <script src="{% static 'js/contact_us.js' %}"></script>
</body>
</html>
