
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Belly</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
     <!-- Link Swiper's CSS -->

   
    <link rel="stylesheet" href="./css/customer-edit.css">
</head>

<body>
      <!-- ======== User Panal ========= -->
      <div class="user__panal__container">
          <div class="left">
                  <div class="logo">
                      <a href="#">
                        <i><h2>Food <br>
                            Belly</h2></i>
                      </a>
                      
                  </div>

                  <div class="panal__links__container">
                      <ul>
                          <li class="list__item">
                              <a href="#">
                                  <div>
                                      <img src="./icons/house.png" alt="">
                                  </div>
                                  <p>Home</p>
                              </a>
                          </li>

                          <li class="list__item">
                            <a href="#">
                                <div>
                                    <img src="./icons/option.png" alt="">
                                </div>
                                <p>User Panal</p>
                            </a>
                            </li>


                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="./icons/plus-sign.png" alt="">
                                    </div>
                                    <p>Add Mess</p>
                                </a>
                            </li>

                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="./icons/customer-review.png" alt="">
                                    </div>
                                    <p>Customers</p>
                                </a>
                            </li>

                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="./icons/request.png" alt="">
                                    </div>
                                    <p>Requests</p>
                                </a>
                            </li>

                            <li class="list__item">
                                <a href="#">
                                    <div>
                                        <img src="./icons/settings.png" alt="">
                                    </div>
                                    <p>Settings</p>
                                </a>
                            </li>
                      </ul>
                  </div>


                  <div class="logout">
                    <a href="#">
                        <div>
                            <img src="./icons/logout.png" alt="">
                        </div>
                        <p>Logout</p>
                    </a>
                  </div>
          </div>




          <div class="right">
                <header class="header">
                    <div class="left">
                        <h2 class="header__heading"><span class="wlc">Welcome,</span> <br>
                            <span class="user__name">Aditya Chandrikapure</span></h2>
                    </div>

                    <div class="middle">
                        <div class="input__field__header">
                            <input type="text" placeholder="Search">
                            <i class="fas fa-search search__btn__header"></i>
                        </div>
                    </div>


                    <div id="right">
                        <div class="profile__container__header">
                            <img src="./images/—Pngtree—indian food talley curry soup_6814449.png" alt="">
                        </div>
                    </div>
            </header>


            <section id="customer__edit">
                <div class="all__request__heading">
                    <h2>All Requests</h2>
                </div>

                <div class="wrapper">
                    <div class="edit__profile">
                           <div class="edit__heading">
                               <h2>Edit Profile</h2>
                           </div>

                           <div class="input__field">
                               <label> Name : </label>
                               <input type="text" placeholder="Enter name">
                           </div>

                           <div class="input__field">
                               <label> Email : </label>
                                <input type="email" placeholder="Enter email">
                            </div>

                            <div class="input__field">
                                <label> Mobile No : </label>
                                <input type="text" placeholder="Enter Mobile No">
                            </div>


                            <div class="input__field">
                                <label> ID Proof : </label>
                                <input class="custom-file-input" type="file" placeholder="Enter Id proof">
                            </div>

                            <div class="input__field">
                                <label> Address : </label>
                                
                                <textarea class="customer__edit__textarea" cols="30" rows="4" placeholder="Enter your address"></textarea>
                            </div>

                            <div class="edit__button">
                                <button>Edit Details</button>
                            </div>

                    </div>

                    <div class="edit__profile__photo">
                        <div class="edit__heading">
                            <h2>Edit Profile Pic</h2>
                        </div>

                        <div class="pic__box">
                            <div class="bottom">
                                <span><i class="fas fa-plus-circle add"></i></span>
                                <p>Add Photo</p>
                            </div>
                        </div>

                        <div class="edit__button">
                            <button>Edit Details Pic</button>
                        </div>
                    </div>
                </div>
          </section>

          </div>
      </div>

    
      <script src="./js/customer-edit.js"></script>
</body>
</html>
