<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./footer.css">
</head>
<body>
    

    <footer class="footer">

        <div class="footer__wrapper">

            <div class="info__footer">
                 <div class="footer__logo">
                     <a href="#">
                        <div class="logo">
                               <img src="./hamburger.png" alt="">
                        </div>

                        <div class="logo__txt">
                            <h2>Food<br> Belly</h2>
                        </div>
                     </a>
                 </div>

                 <div class="details__para__footer">
                     <p>Government College Of Engineering<br> Amravati
                        Near Kathora Naka - 444061</p>
                 </div>

                 <div class="personal__details__footer">
                     <p><i class="fas fa-circle dot"></i> Mo No : 8788299321</p>
                     <p><i class="fas fa-circle dot"></i> Email : abcdefg34@gmail.com</p>
                 </div>
            </div>



    
            <div class="others__page__footer">
                <div class="footer__section__title">
                    <h2>Others Pages</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>

    

            <div class="other__links__footer">
                <div class="footer__section__title">
                    <h2>Others Links</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>
    


            <div class="social__footer">
                <div class="footer__section__title">
                    <h2>Follow Us</h2>
                </div>

                <div class="social__icons">
                    <div>
                        <a href="#">
                            <img src="./facebook (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="./instagram (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="./github-sign (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="./linkedin (1).png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="footer__bottom">
            <p>&copy; Copyright <span class="current__year__footer"></span> All Rights are reserved.</p>
        </div>

    </footer>

    


    <script src="footer.js"></script>
</body>
</html>