<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Users</title>

    <link rel="stylesheet" href="./happy-user.css">
</head>
<body>
     
    <section class="happy__users__section">
        <div class="section__title">
            <h2>Happy Users</h2>
            <p>Feedbacks from the visitors</p>
        </div>


        <div class="wrapper">
            <div class="card">
                <h3>Happy Suppliers</h3>
                <h3>100+</h3>

                <div class="img__box">
                    <img src="./Images/supplier.png" alt="">
                </div>
            </div>

            <div class="card">
                <h3>Happy Customers</h3>
                <h3>300+</h3>

                <div class="img__box">
                    <img src="./Images/customer.png" alt="">
                </div>
            </div>

            <div class="card">
                <h3>Total Users</h3>
                <h3>500+</h3>

                <div class="img__box">
                    <img src="./Images/man.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <script src="./happy-user.js"></script>
</body>
</html>