{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Belly | list of Suppliers </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     
     <!-- Link Swiper's CSS -->

   
    <link rel="stylesheet" href="{% static 'css/list-of-suppliers.css' %}">
</head>

<body>
            <section class="happy__users__section">
                <div class="section__title">
                    <h2>All Suppliers List</h2>
                    <!-- <p>Feedbacks from the visitors</p> -->
                </div>
        
        
                <div class="wrapper">
                    <div class="card">
                        <h3>Total Suppliers</h3>
                        <h3>{{total_count}}+</h3>
                    </div>
        
                    <div class="card">
                        <h3>Active Suppliers</h3>
                        <h3>{{active_count}}+</h3>
                    </div>
        
                    <div class="card">
                        <h3>Not Active Users</h3>
                        <h3>{{not_active}}+</h3>
                    </div>
                </div>
            </section>


            
            <div class="sort">
                <label for="sort">Sort :</label>
                <select name="sort" id="sort">
                    <option value="All">All</option>
                    <option value="accept">Active</option>
                    <option value="declined">Inactive</option>
                  </select>
            </div>

            <section id="all__requests">
                <!-- <div class="all__request__heading">
                    <h2>List Of Suppliers :</h2>
                </div> -->

                <div class="table__container">
                    <table border="1">
                        <tr>
                            <th>Sr.No</th>
                            <th>Supplier Name</th>
                            <th>Email</th>
                            <th>contact No.</th>
                            <th>Address</th>
                            <th>addhar</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <tbody class="table__body">
                            {% if suppliers %}
                                {% for supplier in suppliers %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{supplier.name}}</td>
                                    <td>{{supplier.email}}</td>
                                    <td>{{supplier.number}}</td>
                                    <td>{{supplier.address}}</td>
                                    <td>
                                        {% if supplier.id_proof %}
                                            <button class="view__addhar" data-url="{{supplier.id_proof.url}}">View</button></td>
                                        {% else %}
                                            Not Uploaded
                                        {% endif %}
                                    <td>
                                        {% if supplier.label == 'accept' %}
                                        Accept
                                        {% elif supplier.label == 'declined' %}
                                        Declined
                                        {% else %}
                                        Panding
                                        {% endif %}
                                    </td>
                                    
                                    <td >
                                        <form action="/supplier-action/" method="POST" class="submit_form">
                                            {% csrf_token %}
                                            <input type="hidden" name="supplier_id" value="{{supplier.id}}" />
                                            {% if supplier.label == 'panding' %}
                                                <select name="label" class="accept__declined__status">
                                                    <option value="pending" select>Pending</option>
                                                    <option value="accept">Accept</option>
                                                    <option value="declined">Declined</option>
                                                </select>
                                            {% elif supplier.label == 'accept' %}
                                                <select name="label" class="accept__declined__status">
                                                    <option value="accept" selected>Accept</option>
                                                    <option value="declined">Declined</option>
                                                </select>
                                            {% else %}
                                                <select name="label" class="accept__declined__status">
                                                    <option value="declined" selected>Declined</option>
                                                    <option value="accept">Accept</option>
                                                </select>
                                            {% endif %}

                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}

                        </tbody>
                    </table>
                </div>
          </section>

        

      {% comment %} <!-- ======= declined model ======== -->
      <div class="declined__model">
            <form action="#">
                <h2>Send Reason</h2>

                <h3>Message</h3>
                
                <div class="textarea__container"> 
                   <textarea class="textarea__declined__msg" cols="30" rows="6" placeholder="Enter some message"></textarea>
                </div>

                <div class="send__mail__btn">
                    <button>Send Mail</button>
                </div>
            </form>

            <i class="fas fa-times declined__model__close"></i>
      </div> {% endcomment %}
     

      <!-- ======= Addhar model ======= -->
      <div class="addhar__model">
          <i class="fas fa-times addhar__closed__btn"></i>
           <div class="addhar__container">
               <iframe class="iframe_model" src="" frameborder="0"></iframe>
           </div>
          
      </div>

      <!-- overlay -->
      <div class="overlay"></div>
    
      <script src="{% static 'js/list-of-suppliers.js' %}"></script>
</body>
</html>
