{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Belly</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/searchResult.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/supplier-card.css' %}">
</head>

<body>
    <!-- ======== header ========== -->
    <header class="header">
        <nav class="navbar">
            <div class="logo__cont">
                 <a href="/">
                     <div class="logo__img">
                         <img src="{% static 'images/hamburger.png' %}" alt="logo">
                     </div>

                     <div class="logo__text">
                         <h2><i>Food <br/> Belly</i></h2>
                     </div>
                 </a>
            </div>

            <div class="menu">
                <ul class="ul-list">
                    <li class="list-item"><a href="/" class="active">Home</a></li>
                    <li class="list-item"><a href="/#services">Services</a></li>
                    <li class="list-item"><a href="{% url 'contact' %}">Contact</a></li>
                    <li class="list-item"><a href="{% url 'all-supliers' %}">Mess</a></li>
                </ul>
            </div>

            <div class="auth__container">
                <p class="auth">Auth</p>
                <div class="down__btn">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </nav>

    </header>


    <!-- ========= main ======== -->
    <main class="main"> 
        <div>
            <h2 class="title">Search Results</h2>
        </div>

        <form class="search__box" method="GET">
            <input type="text" name="search" placeholder="Search mess" value="{{search}}" />
            <button type="submit" class="search__icon"><i class="fas fa-search"></i></button>
        </form>

        {% if state %}
            <div class="search__Categories">
                <div class="category__item state">{{state}}</div>
                <div class="category__item district">{{district}}</div>
                <div class="category__item city">{{city}}</div>
            </div>
        {% endif %}

        <div class="cards">
            {% if all_mess %}
                {% for mess in all_mess %}
                    <div class="card">
                        <dic id="img__container">
                            <img src="{{mess.mess_image1.url}}" alt="{{mess.name}}">
                        </dic>
        
                        <div class="name">
                            <h3>{{mess.name}}</h3>
                        </div>
                        
        
                        <div class="price__and__rating">
                            <div class="price__container">
                                <span><i class="fas fa-rupee-sign ruppes__sign"></i></span>
                                <span class="price">{{mess.price_per_month}}</span>
                            </div>
        
                            <div class="to__discount">
                                <span class="price">per Month</span>
                            </div>
        
                            <div class="card__rating">
                                <p>
                                    <span>{{mess.rating}}/5</span><span><i class="fas fa-star ruppes__sign"></i></span>
                                </p>
                            </div>
                        </div>
        
                            <div class="address">
                                <p>{{mess.address}}</p>
                            </div>
        
                            <div class="buttons__container">
                                <a href="/mess/{{mess.slug}}" class="view__details">View Details</a>
                                <a href="#">More</a>
                            </div>
                    </div>
                {% endfor %}    
            {% endif %}
        </div>
    </main>
    

    <!-- ======= modal for authentication -->
    <div class="authentication__model">
        <div>
            <p class="auth__heading">Authentication</p>
        </div>

        <div>
            <p class="auth__link customer__auth__link">
                {% if customer  %}
                <i class="fas fa-user"></i> Customer Auth <span style="font-size: 12px;">(Logged in)</span></p>
                {% else %}
                <i class="fas fa-user"></i> Customer Auth</p>
                {% endif %}
            <p class="auth__link supplier__auth__link">
                {% if supplier %}
                <i class="fas fa-user"></i> Mess Supplier Auth<span style="font-size: 12px;">(Logged in)</span> </p>
                {% else %}
                <i class="fas fa-user"></i> Mess Supplier Auth</p>
                {% endif %}
        </div>
    </div>

    <div class="customer__authentication__model">
        <div>
            <p class="auth__heading">Customer Authentication</p>
        </div>

        <div>
            {% if customer %}
                <a href="{% url 'customer-userpanal' %}" class="auth__link customer__login__link"><i class="far fa-address-card"></i> UserPanal</a>
                <a href="{% url 'logout' %}" class="auth__link customer__register__link"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
                <a href="{% url 'customer-login' %}" class="auth__link customer__login__link"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a href="{% url 'customer-register' %}" class="auth__link customer__register__link"><i class="far fa-registered"></i> Registration</a>
            {% endif %}
        </div>
    </div>


    <div class="supplier__authentication__model">
        <div>
            <p class="auth__heading">Supplier Authentication</p>
        </div>

        <div>
            {% if supplier %}
                <a href="{% url 'supplier-userpanal' %}" class="auth__link supplier__login__link"><i class="far fa-address-card"></i> UserPanal </a>
                <a href="{% url 'logout' %}" class="auth__link supplier__register__link"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
                <a href="{% url 'supplier-login' %}" class="auth__link supplier__login__link"><i class="fas fa-sign-in-alt"></i> Login </a>
                <a href="{% url 'supplier-register' %}" class="auth__link supplier__register__link"><i class="far fa-registered"></i> Registration</a>
            {% endif %}
        </div>
    </div>

    <!--====== black layer -->
    <div class="black__layer">
    </div>
    
    <footer class="footer">

        <div class="footer__wrapper">

            <div class="info__footer">
                 <div class="footer__logo">
                     <a href="#">
                        <div class="logo">
                               <img src=" {% static 'images/hamburger.png' %}" alt="">
                        </div>

                        <div class="logo__txt">
                            <h2>Food<br> Belly</h2>
                        </div>
                     </a>
                 </div>

                 <div class="details__para__footer">
                     <p>Government College Of Engineering<br> Amravati
                        Near Kathora Naka - 444061</p>
                 </div>

                 <div class="personal__details__footer">
                     <p><i class="fas fa-phone dot"></i> Mo No : 8788299321</p>
                     <p><i class="fas fa-envelope dot"></i> Email : abcdefg34@gmail.com</p>
                 </div>
            </div>



    
            <div class="others__page__footer">
                <div class="footer__section__title">
                    <h2>Others Pages</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>

    

            <div class="other__links__footer">
                <div class="footer__section__title">
                    <h2>Important Links</h2>
                </div>

                <ul>
                    <li>
                        <a href="/about-us/" class="link__footer">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>
    


            <div class="social__footer">
                <div class="footer__section__title">
                    <h2>Follow Us</h2>
                </div>

                <div class="social__icons">
                    <div>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </div>

                    <div>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                    </div>

                    <div>
                        <a href="#"><i class="fab fa-github-square"></i></a>
                    </div>

                    <div>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>


        <div class="footer__bottom">
            <p>&copy; Copyright <span class="current__year__footer"></span> All Rights are reserved.</p>
        </div>

    </footer>
    
    <script src="{% static 'js/searchResult.js' %}"></script>
</body>
</html>
