<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Belly</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./css/searchResult.css">
</head>

<body>
    <!-- ======== header ========== -->
    <header class="header">
        <nav class="navbar">
            <div class="logo__cont">
                <a href="#">
                     <div class="logo__img">
                         <img src="./images/hamburger.png" alt="logo">
                     </div>

                     <div class="logo__text">
                         <h2><i>Food <br/> Belly</i></h2>
                     </div>
                 </a>
            </div>

            <div class="menu">
                <ul class="ul-list">
                    <li class="list-item"><a href="#" class="active">Home</a></li>
                    <li class="list-item"><a href="#">Services</a></li>
                    <li class="list-item"><a href="#">Contact</a></li>
                    <li class="list-item"><a href="#">Suppliers</a></li>
                </ul>
            </div>

            <div class="auth__container">
                <div>
                    <p class="auth">Auth</p>
                </div>

                <div class="down__btn">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </nav>

    </header>


    <!-- ========= main ======== -->
    <main class="main"> 
        <div>
            <h2 class="title">Search Results</h2>
        </div>

        <div class="search__box">
            <input type="text" placeholder="Search mess">
            <i class="fas fa-search search__icon"></i>
        </div>

        <div class="search__Categories">
            <div class="category__item state">Maharashtra</div>
            <div class="category__item district">Yavatmal</div>
            <div class="category__item city">Amravati</div>
        </div>

        <div class="cards">

             <div class="card">
                    <dic id="img__container">
                        <img src="./images/download.jpg" alt="">
                    </dic>

                    <div class="name">
                        <h3>Mahaesh Bhatt</h3>
                    </div>

                    <div class="price__container">
                        <span class="price">1500</span><span><i class="fas fa-rupee-sign ruppes__sign"></i></span>
                    </div>

                    <div class="address">
                        <p>Shivaji Nagar Chirde
                            Layout , Amravati 445106
                        </p>
                    </div>

                    <div class="button__container">
                        <a href="#">View Details</a>
                    </div>
             </div>


             <div class="card">
                    <dic id="img__container">
                        <img src="./images/download.jpg" alt="">
                    </dic>

                    <div class="name">
                        <h3>John Smith</h3>
                    </div>

                    <div class="price__container">
                        <span class="price">1800</span><span><i class="fas fa-rupee-sign ruppes__sign"></i></span>
                    </div>

                    <div class="address">
                        <p>Kathora Nake Chauk
                             , Amravati 445106
                        </p>
                    </div>

                    <div class="button__container">
                        <a href="#">View Details</a>
                    </div>
             </div>

                <div class="card">
                    <dic id="img__container">
                        <img src="./images/download.jpg" alt="">
                    </dic>

                    <div class="name">
                        <h3>Yogesh Hajare</h3>
                    </div>

                    <div class="price__container">
                        <span class="price">2000</span><span><i class="fas fa-rupee-sign ruppes__sign"></i></span>
                    </div>

                    <div class="address">
                        <p>Shegoan Naka Chauk , Amravati 445106
                        </p>
                    </div>

                    <div class="button__container">
                        <a href="#">View Details</a>
                    </div>
                </div>
      
        </div>
    </main>
    

    <!---------------- modal for authentication ---------------------->
    <div class="authentication__model">
        <div>
            <p class="auth__heading">Authentication</p>
        </div>

        <div>
            <a href="#" class="auth__link customer__auth__link">Customer Auth</a>
            <a href="#" class="auth__link supplier__auth__link">Mess Supplier Auth</a>
        </div>
    </div>

    <div class="customer__authentication__model">
        <div>
            <p class="auth__heading">Customer Authentication</p>
        </div>

        <div>
            <a href="#" class="auth__link customer__login__link">Login</a>
            <a href="#" class="auth__link customer__register__link">Registration</a>
        </div>
    </div>


    <div class="supplier__authentication__model">
        <div>
            <p class="auth__heading">Supplier Authentication</p>
        </div>

        <div>
            <a href="#" class="auth__link supplier__login__link">Login </a>
            <a href="#" class="auth__link supplier__register__link">Registration</a>
        </div>
    </div>

    <!--====== black layer -->
    <div class="black__layer"></div>
    
    <script src="./js/searchResult.js"></script>
</body>
</html>
