<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testimonial</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <!-- swiper js -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />
    <link rel="stylesheet" href="./testimonial.css">
</head>
<body>
    
    <section class="testimonial__section">

        <div class="section__titile">
            <h2>Testimonial</h2>
            <p>Feedbacks from the visitors lorem lorem lorem loerm</p>
        </div>

        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial__box">
                        <div class="quote">
                            <i class="fas fa-quote-right right__quote"></i>
                        </div>

                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, molestiae id? Iste perspiciatis in ipsum totam odit commodi ad, soluta maiores quos dignissimos veniam facere.
                                soluta maiores quos dignissimos veniam facere.
                            </p>
                        </div>

                        <div class="details">
                            <div class="imgBox">
                                <img src="./photo-1494790108377-be9c29b29330.jpg" alt="">
                            </div>

                            <h3>Uddhav Maske <br>
                               <span>Createive Designer</span>
                            </h3>
                        </div>
                    </div>
                </div>



                <div class="swiper-slide">
                    <div class="testimonial__box">
                        <div class="quote">
                            <i class="fas fa-quote-right right__quote"></i>
                        </div>

                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, molestiae id? Iste perspiciatis in ipsum totam odit commodi ad, soluta maiores quos dignissimos veniam facere.
                                soluta maiores quos dignissimos veniam facere.
                            </p>
                        </div>

                        <div class="details">
                            <div class="imgBox">
                                <img src="./photo-1506794778202-cad84cf45f1d.jpg" alt="">
                            </div>

                            <h3>Aditya Chandrikapure <br>
                               <span>Createive Designer</span>
                            </h3>
                        </div>
                    </div>
                </div>




                <div class="swiper-slide">
                    <div class="testimonial__box">
                        <div class="quote">
                            <i class="fas fa-quote-right right__quote"></i>
                        </div>

                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, molestiae id? Iste perspiciatis in ipsum totam odit commodi ad, soluta maiores quos dignissimos veniam facere.
                                soluta maiores quos dignissimos veniam facere.
                            </p>
                        </div>

                        <div class="details">
                            <div class="imgBox">
                                <img src="./photo-1513956589380-bad6acb9b9d4.jpg" alt="">
                            </div>

                            <h3>Ravindra Dudhane <br>
                               <span>Createive Designer</span>
                            </h3>
                        </div>
                    </div>
                </div>



                <div class="swiper-slide">
                    <div class="testimonial__box">
                        <div class="quote">
                            <i class="fas fa-quote-right right__quote"></i>
                        </div>

                        <div class="content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, molestiae id? Iste perspiciatis in ipsum totam odit commodi ad, soluta maiores quos dignissimos veniam facere.
                                soluta maiores quos dignissimos veniam facere.
                            </p>
                        </div>

                        <div class="details">
                            <div class="imgBox">
                                <img src="./photo-1517256673644-36ad11246d21.jpg" alt="">
                            </div>

                            <h3>Soham Sarde <br>
                               <span>Createive Designer</span>
                            </h3>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="testimonial__box">
                        <div class="quote">
                            <i class="fas fa-quote-right right__quote"></i>
                        </div>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, molestiae id? Iste perspiciatis in ipsum totam odit commodi ad, soluta maiores quos dignissimos veniam facere.
                                soluta maiores quos dignissimos veniam facere.
                            </p>
                        </div>

                        <div class="details">
                            <div class="imgBox">
                                <img src="./photo-1512484776495-a09d92e87c3b.jpg" alt="">
                            </div>

                            <h3>Rushikesh Dudhe <br>
                               <span>Createive Designer</span>
                            </h3>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </section>
    



    

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="testimonial.js"></script>
</body>
</html>